.mainContainer{
    
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 450px;
    background-color: #ABC9FF;
    -webkit-box-shadow: 0px 0px 50px -6px rgba(0,0,0,0.72);
-moz-box-shadow: 0px 0px 50px -6px rgba(0,0,0,0.72);
box-shadow: 0px 0px 50px -6px rgba(0,0,0,0.72);
}


.thaliSummary{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    margin: 30px 450px;
    background-color: #ABC9FF;
    -webkit-box-shadow: 0px 0px 50px -6px rgba(0,0,0,0.72);
-moz-box-shadow: 0px 0px 50px -6px rgba(0,0,0,0.72);
box-shadow: 0px 0px 50px -6px rgba(0,0,0,0.72);
}

.itemTotal{

}